body {
    background: #0e0e10;
    color: white;
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
}

.title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 5px;
}

.subtitle {
    font-size: 15px;
    opacity: 0.8;
    margin-bottom: 20px;
}

.box {
    background: #1a1d21;
    padding: 20px;
    border-radius: 12px;
    max-width: 450px;
    margin: auto;
}

input {
    width: 85%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    margin-bottom: 15px;
}

button {
    width: 90%;
    padding: 12px;
    background: #1cc55a;
    border: none;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    color: black;
    font-weight: bold;
}

button:hover {
    background: #18aa4e;
}

.result {
    background: #1a1d21;
    padding: 20px;
    margin-top: 20px;
    border-radius: 12px;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    animation: fadeIn 0.4s ease;
}

.bar-container {
    margin-top: 20px;
    background: #24282d;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.bar-real {
    height: 20px;
    background: #28d95a;
    width: 0%;
    transition: 0.7s;
}

.bar-bots {
    height: 20px;
    background: #e22f2f;
    width: 0%;
    transition: 0.7s;
}

.loading {
    margin-top: 20px;
    font-size: 18px;
}

.hidden {
    display: none;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}
